.next
.cache
package-lock.json
public
node_modules
next-env.d.ts
next.config.ts
yarn.lock
public/precache.*.*.js
public/sw.js
public/workbox-*.js
public/worker-*.js
public/fallback-*.js
public/precache.*.*.js.map
public/sw.js.map
public/workbox-*.js.map
public/worker-*.js.map
public/fallback-*.js
commitlint.config.js